<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title %>
  </div>

<<<<<<< HEAD
=======
  
>>>>>>> iteration01Dev
  <div class="field">
    <%= form.label :Description %>
    <%= form.text_area :Description %>
  </div>

<<<<<<< HEAD
  <div class="field">
    <%= form.label :Rating %>
    <%= form.number_field :Rating %>
  </div>

  <div class="field">
    <%= form.label :ReleaseDate %>
=======
  <!--Display floating point here? -->
  <div class="field">
    <%= form.label :Rating, step:0.5 %>
    <%= form.number_field :Rating, step:0.5 %>
  </div>

  <div class="field">
    <%= form.label :"Release Date" %>
>>>>>>> iteration01Dev
    <%= form.text_area :ReleaseDate %>
  </div>

  <div class="field">
<<<<<<< HEAD
    <%= form.label :NumberOfPlayers %>
=======
    <%= form.label :"Number Of Players" %>
>>>>>>> iteration01Dev
    <%= form.number_field :NumberOfPlayers %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
